@if(eventId) {
<h1 class="title-form mb-3">Edit Event</h1>
} @else {
<h1 class="title-form mb-3">Add Event</h1>
}

<form (ngSubmit)="addEvent()" #form="ngForm" class="add-update-form">
  <div class="row g-4 align-items-start">
    <div class="col-md-6 col-lg-8">
      <div class="left p-5">
        <!-- ------------------title---------------------- -->
        <label for="title" class="form-label">Title</label>
        <div class="row g-4 mb-3">
          <!-- ----------------------title en---------------------- -->
          <div class="col-lg-6">
            <input
              type="text"
              class="form-control"
              id="title"
              placeholder="Enter event title (EN)"
              name="titleEn"
              required
              [(ngModel)]="event.title.en"
              #titleEn="ngModel"
              [ngClass]="{ 'is-invalid': (titleEn.touched || titleEn.dirty) && titleEn.invalid }"
            />
            @if(titleEn.touched && titleEn.errors) {
            <div class="invalid-feedback">
              @if(titleEn.errors['required']) {
              <span>Title is required.</span>
              } @if(titleEn.errors['minlength']) {
              <span>Title must be at least 3 characters.</span>
              }
            </div>
            }
          </div>

          <!-- ----------------------title ar---------------------- -->
          <div class="col-lg-6">
            <input
              type="text"
              class="form-control"
              id="title"
              placeholder="Enter event title (AR)"
              name="titleAr"
              required
              [(ngModel)]="event.title.ar"
              #titleAr="ngModel"
              [ngClass]="{ 'is-invalid': (titleAr.touched || titleAr.dirty) && titleAr.invalid }"
            />
            @if(titleAr.touched && titleAr.errors) {
            <div class="invalid-feedback">
              @if(titleAr.errors['required']) {
              <span>Title is required.</span>
              } @if(titleAr.errors['minlength']) {
              <span>Title must be at least 3 characters.</span>
              }
            </div>
            }
          </div>
        </div>

        <!-- ----------------------description---------------------- -->
        <label for="description" class="form-label">Description</label>
        <div class="row g-4 mb-3">
          <!-- ----------------------description en---------------------- -->
          <div class="col-lg-6">
            <textarea
              class="form-control"
              id="description"
              rows="3"
              placeholder="Enter event description (EN)"
              name="descriptionEn"
              required
              [(ngModel)]="event.description.en"
              #descriptionEn="ngModel"
              [ngClass]="{
                'is-invalid':
                  (descriptionEn.touched || descriptionEn.dirty) && descriptionEn.invalid
              }"
            ></textarea>
            @if(descriptionEn.touched && descriptionEn.errors) {
            <div class="invalid-feedback">
              @if(descriptionEn.errors['required']) {
              <span>Description is required.</span>
              } @if(descriptionEn.errors['minlength']) {
              <span>Description must be at least 10 characters.</span>
              }
            </div>
            }
          </div>

          <!-- ----------------------description ar---------------------- -->
          <div class="col-lg-6">
            <textarea
              class="form-control"
              id="description"
              rows="3"
              placeholder="Enter event description (AR)"
              name="descriptionAr"
              required
              [(ngModel)]="event.description.ar"
              #descriptionAr="ngModel"
              [ngClass]="{
                'is-invalid':
                  (descriptionAr.touched || descriptionAr.dirty) && descriptionAr.invalid
              }"
            ></textarea>
            @if(descriptionAr.touched && descriptionAr.errors) {
            <div class="invalid-feedback">
              @if(descriptionAr.errors['required']) {
              <span>Description is required.</span>
              } @if(descriptionAr.errors['minlength']) {
              <span>Description must be at least 10 characters.</span>
              }
            </div>
            }
          </div>
        </div>

        <!-- ----------------------date---------------------- -->
        <div>
          <label for="date" class="form-label">Date</label>
          <input
            type="date"
            class="form-control"
            id="date"
            name="date"
            required
            [(ngModel)]="event.date"
            #date="ngModel"
            [ngClass]="{ 'is-invalid': (date.touched || date.dirty) && date.invalid }"
          />
          @if(date.touched && date.errors) {
          <div class="invalid-feedback">
            <span>Date is required.</span>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="right p-4">
        <!-- ----------------------location---------------------- -->
        <label for="location" class="form-label">Location</label>
        <div class="row g-4 mb-2">
          <!-- ---------------location en---------------------- -->
          <div class="col-lg-6">
            <input
              type="text"
              class="form-control"
              id="location"
              placeholder="Enter location (EN)"
              name="locationEn"
              required
              [(ngModel)]="event.location.en"
              #locationEn="ngModel"
              [ngClass]="{
                'is-invalid': (locationEn.touched || locationEn.dirty) && locationEn.invalid
              }"
            />
            @if(locationEn.touched && locationEn.errors) {
            <div class="invalid-feedback">
              @if(locationEn.errors['required']) {
              <span>Location is required.</span>
              } @if(locationEn.errors['minlength']) {
              <span>Location must be at least 3 characters.</span>
              }
            </div>
            }
          </div>
          <!-- ---------------location ar---------------------- -->
          <div class="col-lg-6">
            <input
              type="text"
              class="form-control"
              id="location"
              placeholder="Enter location (AR)"
              name="locationAr"
              required
              [(ngModel)]="event.location.ar"
              #locationAr="ngModel"
              [ngClass]="{
                'is-invalid': (locationAr.touched || locationAr.dirty) && locationAr.invalid
              }"
            />
            @if(locationAr.touched && locationAr.errors) {
            <div class="invalid-feedback">
              @if(locationAr.errors['required']) {
              <span>Location is required.</span>
              } @if(locationAr.errors['minlength']) {
              <span>Location must be at least 3 characters.</span>
              }
            </div>
            }
          </div>
        </div>

        <!-- ------------------------time------------------------ -->
        <div class="row g-4 mb-2">
          <!-- ------------------start time------------------ -->
          <div class="col-lg-6">
            <label for="time" class="form-label">Start Time</label>
            <input
              type="time"
              class="form-control"
              id="time"
              name="startTime"
              required
              [(ngModel)]="event.startTime"
              #startTime="ngModel"
              [ngClass]="{
                'is-invalid': (startTime.touched || startTime.dirty) && startTime.invalid
              }"
            />
            @if(startTime.touched && startTime.errors) {
            <div class="invalid-feedback">
              <span>Start Time is required.</span>
            </div>
            }
          </div>

          <!-- ----------------------end time---------------------- -->
          <div class="col-lg-6">
            <label for="time" class="form-label">End Time</label>
            <input
              type="time"
              class="form-control"
              id="time"
              name="endTime"
              required
              [(ngModel)]="event.endTime"
              #endTime="ngModel"
              [ngClass]="{
                'is-invalid': (endTime.touched || endTime.dirty) && endTime.invalid
              }"
            />
            @if(endTime.touched && endTime.errors) {
            <div class="invalid-feedback">
              <span>End Time is required.</span>
            </div>
            }
          </div>
        </div>

        <!-- ----------------event image---------------------- -->
        <div class="custom-file-upload">
          <label for="image" class="form-label">Event Image</label>
          <input
            type="file"
            accept="image/*"
            class="form-control"
            id="image"
            name="image"
            required
            (change)="uploadImage($event)"
          />
          @if(uploading){
          <label for="image" class="upload-btn">Uploading...</label>
          } @else {
          <label for="image" class="upload-btn">Upload Image</label>
          } @if(preview){
          <div class="image-preview mt-3">
            <img [src]="preview" alt="Event Image" class="img-fluid" />
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5">
    @if(eventId) {
    <button type="submit" class="btn-add" [disabled]="form.invalid">Update Event</button>
    } @else {
    <button type="submit" class="btn-add" [disabled]="form.invalid || !event.eventImage">
      Add Event
    </button>
    }
  </div>
</form>
