<div class="user-card pb-2">
  <div class="card-border-top"></div>
  <div class="avatar my-3"><img src="{{ user.profileImage }}" alt="" /></div>
  <div class="user-name">{{ user.name }}</div>
  <div class="user-role my-2">{{ user.role }}</div>
  <div class="btns d-flex gap-3 p-3">
    <button class="btn edite" (click)="navigateToEdit()">Edit</button>
    <button class="btn btn-danger" (click)="openDeleteModal()">Delete</button>
  </div>
</div>

<!-- ============== DELETE MODAL ============== -->

<div class="modal-backdrop" [class.show-backdrop]="isDeleteModalOpen">
  <div class="modal-box" [class.show-box]="isDeleteModalOpen">
     <div class="modal-icon reject">
      <i class="bi bi-x-circle-fill"></i>
    </div>
    <h3 class="modal-title">Confirm Delete</h3>
    <p class="modal-message">Are you sure you want to delete this user?</p>

    <div class="modal-actions">
      <button class="btn-cancel" (click)="closeDeleteModal()">Cancel</button>
      <button class="btn-confirm reject" (click)="confirmDelete()">Confirm</button>
    </div>
  </div>
</div>
