.role-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: #0ab99d;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 10px 15px;
  border-radius: 10px;
}
